* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #eeeeee;
}

.testimonials {
  display: flex;
  flex-direction: column; 
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 20px 0;

  &__slider-area {
    display: flex;
    align-items: center;
  }

  &__button-container {
    width: 10%;
    display: flex;
  }

  &__arrow-btn {
    background: transparent;    
    border: 0;
    font-size: 40px;  
    border-radius: 35px;
    width: 50px;
    height: 50px;
    display: flex;  
    cursor: pointer;
    margin: auto;
    
    &:hover {
      background: rgba( 182, 203, 124 , 0.55);
    }
    
    &:focus {
      outline: 0;
    }
  }

  &__arrow-svg{
    margin: auto;
  }

  &__slider-container {    
    display: flex;    
    width: 80%;
    overflow: hidden;    
  }

  &__slider {    
    transition: 1s;
    display: flex;
    width: 100%;
    flex-grow: 1;    
  }

  &__slide {
    width: 25%;
    display: flex;    
    align-items: center;
    flex-shrink: 0;
    margin: calc(25% / 6);
    background: #fefefe;
    color: #484848; 
    padding: 25px 0;
    transition: 0.5s;
    box-shadow: 8px 8px 17px 0px rgba(0,0,0,0.55);
    overflow: hidden;
    cursor: pointer;

    &:hover {
      transform: scale(1.2); 
    }

    &--is-active {
      background: #2e2e2e;
      color: #ffffff; 
      transform: scale(1.2);      
    }    
  }

  &__user-avatar {    
    margin-left: 20px;
  }

  &__avatar {
    transition: 0.5s;
    display: inline-block;
    width: 60px;
    height: 60px;
    background: #555555;
    border-radius: 35px;
  }

  &__user-info {
    margin-left: 8px;
  }  

  &__user-info-author {
    margin: 0;    
  }

  &__user-info-status {
    font-size: 14px;

    &--bold {
      font-weight: bold;
    }
  }

  &__content-box {
    width: 40%;
    margin: 0 auto;
    background: #2e2e2e;
    color: #ffffff; 
    padding: 25px;
    box-shadow: 8px 8px 17px 0px rgba(0,0,0,0.55);
  }

  &__content-box-title {
    text-transform: uppercase;
  }
} 

@media screen and (max-width: 960px) {
  .testimonials {
    &__slide {      
      flex-direction: column;
      text-align: center;
      box-shadow: 8px 8px 10px 0px rgba(0,0,0,0.55);
    }

    &__user-avatar {    
      margin-left: 0;
    }
  
    &__user-info {
      margin-left: 0;
    }
  }
}

@media screen and (max-width: 500px) {
  .testimonials {
    text-align: center;

    .testimonials__slider-area {      
      width: 100%;  
  }

    &__slide {      
      display: none;

      &--is-active {
        display: block; 
        width: 100%;       
      }
    } 
    
    &__slider {    
      transform: translateX(0%) !important; 
      width: 100%;
    }

    &__content-box {
      margin-top: 10px;
      width: 80%;
    }
  }
}